    <br/>
<div>
    <h1 class="text-center text-black">Productos vendidos</h1>
</div>
<br/>
<div class="container">
<div class="card">
    <h5 class="card-header">X: CODIGO DE BARRAS  ---  Y: CANTIDAD VENDIDA</h5>
    <div class="card-body">
        <div class="chart-container text-white">
            <canvas id="MyChart" >{{ chart }}</canvas>
        </div>        
    </div>
    
    <div class="card-footer text-muted">
        <button (click)="retorno()" class="btn btn-primary">Salir</button>
      </div>

      </div>
   </div>
   <br>
   <br>